<%= simple_form_for(@entry, :html => {:class => 'form-horizontal' }) do |f| %>
  <div class="control-group">
    <%= f.input :title , :input_html => { :class => 'span8' }%>
  </div>
  <div class="control-group">
    <%= f.input :abstract, :input_html => { :class => 'span8' } %>
  </div>
  <div class="control-group">
    <%= f.input :content, :input_html => { :class => 'span8' } %>
  </div>
  <% if can? :manage, Entry %>
    <div class="control-group">
      <%= f.input :important, :as => :boolean, :input_html => { :class => 'span8' } %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                entries_path, :class => 'btn' %>
  </div>
<% end %>